body {
    border: 3px solid;
    display: flow-root; 
    padding: 3%;
}
img {
    height: 100px;
}
#img1 {
    float: left;
    margin-right: 10px;
}
#img2 {
    float: right;
    margin-left: 10px;
}